<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>群发文章</title>
        <link rel="stylesheet" href="/css/articles.css">
    </head>
    <body>
    <h1>群发文章</h1>
    <div class="article-group">
        <div class="user-list">
            <h2>群发用户</h2>
            <textarea id=id-textarea-users name="name" rows="8" cols="80"></textarea>
            <div class="">
                <input id=id-button-users type="button" name="" value="拉取用户">
                <input id=id-button-send type="button" name="" value="群发文章">
            </div>
        </div>
        <div class="articles-list">

        </div>
    </div>
    <div class="button">
    </div>

    <script src="/js/lib.js"></script>
    <script src="/js/articles.js"></script>
</body>
</html>
